@font-face {
  font-family: "myFirstFont";
  src: url("fonts/GraphikRegular.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "myFirstFont";
  // background-color: black;
  color: #f2f2f2;
  // border: 1px solid magenta;
}
body {
  background-color: black;
}
.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.middle-navigation {
  flex: 0.5;
}
@media (max-width: 780px) {
  .middle-navigation {
    display: none;
  }
}
.middle-navbar {
  margin-top: 1.5em;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.middle-navbar:hover {
  cursor: pointer;
}
.midlle-navbar-list {
  justify-content: space-between;
}
.btn {
  background-color: black;
  border-radius: 0.2em;
  padding: 0.5em 1.8em;
  margin-top: 1.5em;
}
.btn:hover {
  cursor: pointer;
}
.page-sub {
  max-width: 500px;
}
.page-head-header {
  font-size: 3rem;
  text-align: center;
}
.page-paragraph {
  text-align: center;
  font-size: 0.7rem;
  margin-top: 1em;
}
.pageparagraph {
  font-size: 0.8rem;
  margin-top: 1em;
}
.page-head-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  align-items: center;
}
.page-head-btn {
  display: flex;
  margin-bottom: 2em;
  justify-content: space-around;
  align-items: center;
  width: 35%;
}
@media (max-width: 780px) {
  .page-head-btn {
    flex-direction: column;
  }
}
.btn1 {
  background-color: blue;
}
.img {
  max-width: 100%;
}
//   comeback
.page-features {
  // max-width: 500px;
  margin-bottom: 1em;
}
.heads {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0.5em;
}
.page-features-img {
  padding: 0;
  margin: 0;
}
.page-features-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}
@media (max-width: 780px) {
  .page-features-bottom {
    flex-direction: column;
  }
}
.right-page-features-items {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1em;
}
.right-page-features {
  margin-top: 5em;
  width: 30%;
}
@media (max-width: 780px) {
  .right-page-features {
    max-width: 50%;
    margin: 2em auto;
    width: 100%;
  }
}
.page-features-subs {
  margin-left: 1em;
}
.right-page-items {
  margin-bottom: 2em;
}
.page-content-items {
  display: flex;
  justify-content: space-between;
}
.page-content-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  max-width: 45%;
  border-radius: 0.5em;
  margin-top: 2em;
  padding: 1em 1em;
}
@media (max-width: 780px) {
  .page-content-items {
    flex-direction: column;
  }
  .page-content-item {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
.page-content-texts {
  color: black;
}

.gallery {
  display: flex;
  justify-content: center;
}
@media (max-width: 895px) {
  .bottom-gallery {
    display: none;
  }
  .gallery {
    flex-direction: column;
  }
}
@media (min-width: 894px) {
  .top-images {
    width: 200px;
  }
}
.bottom-images {
  width: 350px;
  height: 243px;
}
.partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-top: 2em;
}
@media (max-width: 375px) {
  .partners {
    width: 45%;
    flex-wrap: wrap;
  }
}
.partner-logo {
  width: 40px;
}
.page-partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.designers {
  border: 1px solid white;
  padding: 2em 1em;
  border-radius: 0.5em;
  width: 97%;
}
.designer-names {
  align-items: center;
}
.designers-quotes {
  font-size: 0.8rem;
}
.right-designers {
  padding-bottom: 1em;
}
.testimonies {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 780px) {
  .testimonies {
    flex-direction: column;
  }
  .designers {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
}
.bottom-designers {
  margin-top: 1em;
  margin-bottom: 1em;
}
.opentype {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}
.opentype-features {
  display: flex;
  justify-content: center;
  background-color: #161414;
  width: 100%;
  margin-top: 10em;
  border-radius: 1.5em;
  align-items: center;
}
@media (max-width: 780px) {
  .opentype-features {
    flex-direction: column;
    border-radius: 0;
    width: 100%;
    padding: 2em;
  }
  .opentype-img {
    max-width: 100%;
  }
  .opentype {
    align-items: center;
    text-align: center;
  }
}
.opentype-head {
  font-size: 2rem;
}
.opentype-btn {
  margin-bottom: 3em;
  padding: 1em 2.5em;
}
.footer-items {
  display: flex;
  justify-content: space-between;
  margin-top: 10em;
  margin-bottom: 5em;
}
@media (max-width: 780px) {
  .footer-items {
    flex-direction: column;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .foot-nav {
    margin-top: 3em;
  }
}
.footer-navbar {
  list-style: none;
  margin-top: 2.5em;
}
.footer-navbar-list {
  margin-top: 1em;
}
.details {
  align-self: center;
}
.socials {
  display: flex;
  justify-content: space-between;
}
.opentype-container {
  max-width: 950px;
}
